@import url(./utility.css);

body{
    font-family: "Montserrat", sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
}

.menu{
    width: 300px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.rolumn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* TYPO */

h1, h2, h3, h4{
    color: #fff;
}

h5{
    color: #A3A3A3;
}


/* TYPO */



.logo{
    padding-bottom: 10px;
    padding-left: 20px;
}

.menu p{
    color: #A3A3A3;
    font-weight: 600;
}

.add-playlist{
    font-size: 50px;
    color: #A3A3A3;
    margin-right: 10px;
}

.menu p{
    font-size: 14px;
}

.menu img:not(.logo, .profile-img-content, .download){
    filter: invert(0.5);
    max-width: 30px;
    margin-right: 10px;
}

.menu .row{
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.menu hr{
    border-color: #A3A3A3;
}

.download{
    max-width: 20px;
    margin-right: 10px;
}

.profile-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #A3A3A3;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%;
    object-position: center; 
}

/* HOME */

.upgrade{
    height: 80px;
    width: calc(100%);
    padding: 40px;
    background-color: #080B13;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.btn-up{
    border: 2px solid #fff;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 20px;
}

.home{
    background-color: #141923;
    display: flex;
}

.song-cont{
    max-width: calc(100% / 6 - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.song-cont h4, .song-cont p{
    margin-top: 10px;
}

.song-cont:not(:last-child){
    margin-right: 10px;
}

.subtitle{
    color: #A3A3A3;
    font-weight: 600;
    font-size: 13px;
}

.circle-img{
    clip-path: circle();
}

/* FOOTER  */

footer{
    height: 80px;
    background-color: #282828;
    position: sticky;
    z-index: 2;
}


/* HOVER */
.menu *:hover{
    color: #fff;
}

*:hover{
    color: #fff;
}




/* MEDIA QUERY */

@media screen and (min-width:700.1px) and (max-width:1099.9){
    
}

@media screen and (min-width:1100px){
    
}

@media screen and (min-width:1100px){
    
}